# User Profile

In [7]:
import pandas as pd
import numpy as np
import names

In [26]:
## Load data
user_f = pd.read_excel('handson_data/2. Dummy Volunteer Profile (updated) .xls', index_col=None)
user_f.head()

,First name,Last name,Interests,Gender,Employment Status,Mobile phone,Connection Id,Email,Attendance Status,Connections: Hours Served,Contact: Hours Served (since account was created),Volunteer Opportunity: Volunteer Opportunity Name,Volunteer Opportunity: Managing Organization: Organization Name,Volunteer Opportunity: Type,Employer,Contact ID
0,NaN,NaN,NaN,Female,Other,NaN,CO-095401,NaN,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
1,NaN,NaN,NaN,Female,Other,NaN,CO-095078,NaN,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
2,NaN,NaN,NaN,Female,Other,NaN,CO-093654,NaN,Attended (and Hours Verified),1.50,25.24,Serve-A-Thon: Help Homework Group with Childre...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
3,NaN,NaN,Education and Empowerment for Children and You...,Female,Retired,NaN,CO-095194,NaN,Attended (and Hours Verified),2.00,13.76,Help Out at Hotmeal Service in Wan Chai,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ
4,NaN,NaN,Education and Empowerment for Children and You...,Female,Retired,NaN,CO-094334,NaN,Attended (and Hours Verified),1.17,13.76,Help Ethnic Minority Primary Students with Sch...,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ

In [27]:
## Modify column names
user_f_columns = ['first_name','last_name','interest_list','gender','employment_status','mobile','connection_id','email','attend_status','hours_served_opportunity','hours_served_all','opportunity_name','opportunity_org','opportunity_type','employer','contact_id']
user_f.columns = user_f_columns
user_f.head()

,first_name,last_name,interest_list,gender,employment_status,mobile,connection_id,email,attend_status,hours_served_opportunity,hours_served_all,opportunity_name,opportunity_org,opportunity_type,employer,contact_id
0,NaN,NaN,NaN,Female,Other,NaN,CO-095401,NaN,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
1,NaN,NaN,NaN,Female,Other,NaN,CO-095078,NaN,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
2,NaN,NaN,NaN,Female,Other,NaN,CO-093654,NaN,Attended (and Hours Verified),1.50,25.24,Serve-A-Thon: Help Homework Group with Childre...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
3,NaN,NaN,Education and Empowerment for Children and You...,Female,Retired,NaN,CO-095194,NaN,Attended (and Hours Verified),2.00,13.76,Help Out at Hotmeal Service in Wan Chai,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ
4,NaN,NaN,Education and Empowerment for Children and You...,Female,Retired,NaN,CO-094334,NaN,Attended (and Hours Verified),1.17,13.76,Help Ethnic Minority Primary Students with Sch...,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ

In [28]:
## Generate Names
first_names = []
last_names = []
for i in range(len(user_f)):
    gender = user_f.gender.loc[i].lower()
    first_name = names.get_first_name(gender=gender)
    last_name = names.get_last_name()
    first_names.append(first_name)
    last_names.append(last_name)

user_f.first_name = first_names
user_f.last_name = last_names
user_f.head()

,first_name,last_name,interest_list,gender,employment_status,mobile,connection_id,email,attend_status,hours_served_opportunity,hours_served_all,opportunity_name,opportunity_org,opportunity_type,employer,contact_id
0,Virginia,Atkins,NaN,Female,Other,NaN,CO-095401,NaN,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
1,Estela,Baize,NaN,Female,Other,NaN,CO-095078,NaN,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
2,Ann,Burks,NaN,Female,Other,NaN,CO-093654,NaN,Attended (and Hours Verified),1.50,25.24,Serve-A-Thon: Help Homework Group with Childre...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
3,Brittany,Desilva,Education and Empowerment for Children and You...,Female,Retired,NaN,CO-095194,NaN,Attended (and Hours Verified),2.00,13.76,Help Out at Hotmeal Service in Wan Chai,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ
4,Jessica,Connor,Education and Empowerment for Children and You...,Female,Retired,NaN,CO-094334,NaN,Attended (and Hours Verified),1.17,13.76,Help Ethnic Minority Primary Students with Sch...,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ

In [29]:
## Reform the interests to list
user_f.interest_list = user_f.interest_list.str.replace('?','')
user_f.interest_list = user_f.interest_list.str.split(';')
user_f.head()

In [35]:
## Generate dummy email address
user_f.email = user_f.first_name.str.lower() + '.' + user_f.last_name.str.lower() + '@xmail.com'
user_f.head()

,first_name,last_name,interest_list,gender,employment_status,mobile,connection_id,email,attend_status,hours_served_opportunity,hours_served_all,opportunity_name,opportunity_org,opportunity_type,employer,contact_id
0,Virginia,Atkins,NaN,Female,Other,NaN,CO-095401,virginia.atkins@xmail.com,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
1,Estela,Baize,NaN,Female,Other,NaN,CO-095078,estela.baize@xmail.com,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
2,Ann,Burks,NaN,Female,Other,NaN,CO-093654,ann.burks@xmail.com,Attended (and Hours Verified),1.50,25.24,Serve-A-Thon: Help Homework Group with Childre...,HandsOn Hong Kong ?????,Project,NaN,0030I00001KzFwb
3,Brittany,Desilva,[Education and Empowerment for Children and Yo...,Female,Retired,NaN,CO-095194,brittany.desilva@xmail.com,Attended (and Hours Verified),2.00,13.76,Help Out at Hotmeal Service in Wan Chai,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ
4,Jessica,Connor,[Education and Empowerment for Children and Yo...,Female,Retired,NaN,CO-094334,jessica.connor@xmail.com,Attended (and Hours Verified),1.17,13.76,Help Ethnic Minority Primary Students with Sch...,HandsOn Hong Kong ?????,Project,NaN,0030I00001LHaSZ

In [36]:
## Remove weird characters from opportunity_org
user_f.opportunity_org = user_f.opportunity_org.str.replace('?','')
user_f.head()

,first_name,last_name,interest_list,gender,employment_status,mobile,connection_id,email,attend_status,hours_served_opportunity,hours_served_all,opportunity_name,opportunity_org,opportunity_type,employer,contact_id
0,Virginia,Atkins,NaN,Female,Other,NaN,CO-095401,virginia.atkins@xmail.com,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong,Project,NaN,0030I00001KzFwb
1,Estela,Baize,NaN,Female,Other,NaN,CO-095078,estela.baize@xmail.com,Attended (and Hours Verified),1.50,25.24,Help Primary & Secondary School Kids of Hong K...,HandsOn Hong Kong,Project,NaN,0030I00001KzFwb
2,Ann,Burks,NaN,Female,Other,NaN,CO-093654,ann.burks@xmail.com,Attended (and Hours Verified),1.50,25.24,Serve-A-Thon: Help Homework Group with Childre...,HandsOn Hong Kong,Project,NaN,0030I00001KzFwb
3,Brittany,Desilva,[Education and Empowerment for Children and Yo...,Female,Retired,NaN,CO-095194,brittany.desilva@xmail.com,Attended (and Hours Verified),2.00,13.76,Help Out at Hotmeal Service in Wan Chai,HandsOn Hong Kong,Project,NaN,0030I00001LHaSZ
4,Jessica,Connor,[Education and Empowerment for Children and Yo...,Female,Retired,NaN,CO-094334,jessica.connor@xmail.com,Attended (and Hours Verified),1.17,13.76,Help Ethnic Minority Primary Students with Sch...,HandsOn Hong Kong,Project,NaN,0030I00001LHaSZ

In [38]:
user_f.to_csv('handson_data/dummy_volunteer_profile.csv')

# HandsOn Program

In [44]:
## Load data
program_f = pd.read_excel('handson_data/4. HandsOn Program (updated) .xls', index_col=None)
program_f.head()

,Occurrence: Occurrence ID,Status,Volunteer Opportunity: Total Hours Served- the hours of all occurences/service sessions under the volunteer service programs,Volunteer Opportunity: Populations Served,Volunteer Opportunity: Primary Impact Area,Impact Outcome 1,Volunteer Opportunity: Volunteer Opportunity Name,Schedule Type,Volunteer Opportunity: Registration Type,Location,...,Opportunity Coordinator Email,Volunteer Leader Needed,Maximum Attendance,Minimum Attendance,Total Confirmed,Volunteers Still Needed,Total Attended,Total Not Attended,Total Hours Served (for each occurrence/service session),Volunteer Opportunity: Record ID
0,OC-028456,Active,306.0,Environmental education; Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,16.0,5.0,10.0,6.0,8.0,2.0,16.0,a0N0I00001AFCUy
1,OC-028457,Active,306.0,Environmental education; Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCUy
2,OC-028452,Active,194.0,Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCcJ
3,OC-028453,Active,194.0,Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,28.0,2.0,28.0,0.0,56.0,a0N0I00001AFCcJ
4,OC-028428,Active,85.0,Hunger & homelessness,Hunger & Homelessness ????????????,NaN,Serve-A-Thon: Deliver Daily Necessities to Hom...,Date & Time Specific,Sign Up,"ImpactHK, Sham Shui Po",...,hohk@handsonhongkong.org,0.0,3.0,1.0,7.0,-4.0,7.0,0.0,14.0,a0N0I00001AFOJF

In [48]:
## Modify column names
program_f_columns = ['occur_id','status','hours_program_total','pop_served_list','impact_area','impact_outcome','opportunity_name','schedule_type','reg_type','location','start_date_time','end_date_time','opportunity_coordinator','opportunity_coordinator_email','vol_leader_need','max_attend','min_attend','vol_confirmed','vol_in_need','num_attend','num_not_attend','hours_occur_total','opportunity_record_id']
program_f.columns = program_f_columns
program_f.head()

,occur_id,status,hours_program_total,pop_served_list,impact_area,impact_outcome,opportunity_name,schedule_type,reg_type,location,...,opportunity_coordinator_email,vol_leader_need,max_attend,min_attend,vol_confirmed,vol_in_need,num_attend,num_not_attend,hours_occur_total,opportunity_record_id
0,OC-028456,Active,306.0,Environmental education; Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,16.0,5.0,10.0,6.0,8.0,2.0,16.0,a0N0I00001AFCUy
1,OC-028457,Active,306.0,Environmental education; Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCUy
2,OC-028452,Active,194.0,Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCcJ
3,OC-028453,Active,194.0,Integrated,Environmental Conservation ????,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,28.0,2.0,28.0,0.0,56.0,a0N0I00001AFCcJ
4,OC-028428,Active,85.0,Hunger & homelessness,Hunger & Homelessness ????????????,NaN,Serve-A-Thon: Deliver Daily Necessities to Hom...,Date & Time Specific,Sign Up,"ImpactHK, Sham Shui Po",...,hohk@handsonhongkong.org,0.0,3.0,1.0,7.0,-4.0,7.0,0.0,14.0,a0N0I00001AFOJF

In [50]:
## Remove weird characters
program_f.impact_area = program_f.impact_area.str.replace('?','')
program_f.head()

,occur_id,status,hours_program_total,pop_served_list,impact_area,impact_outcome,opportunity_name,schedule_type,reg_type,location,...,opportunity_coordinator_email,vol_leader_need,max_attend,min_attend,vol_confirmed,vol_in_need,num_attend,num_not_attend,hours_occur_total,opportunity_record_id
0,OC-028456,Active,306.0,Environmental education; Integrated,Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,16.0,5.0,10.0,6.0,8.0,2.0,16.0,a0N0I00001AFCUy
1,OC-028457,Active,306.0,Environmental education; Integrated,Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCUy
2,OC-028452,Active,194.0,Integrated,Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCcJ
3,OC-028453,Active,194.0,Integrated,Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,28.0,2.0,28.0,0.0,56.0,a0N0I00001AFCcJ
4,OC-028428,Active,85.0,Hunger & homelessness,Hunger & Homelessness,NaN,Serve-A-Thon: Deliver Daily Necessities to Hom...,Date & Time Specific,Sign Up,"ImpactHK, Sham Shui Po",...,hohk@handsonhongkong.org,0.0,3.0,1.0,7.0,-4.0,7.0,0.0,14.0,a0N0I00001AFOJF

In [52]:
## Population served to a list
program_f.pop_served_list = program_f.pop_served_list.str.split(';')
program_f.head()

,occur_id,status,hours_program_total,pop_served_list,impact_area,impact_outcome,opportunity_name,schedule_type,reg_type,location,...,opportunity_coordinator_email,vol_leader_need,max_attend,min_attend,vol_confirmed,vol_in_need,num_attend,num_not_attend,hours_occur_total,opportunity_record_id
0,OC-028456,Active,306.0,"[Environmental education, Integrated]",Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,16.0,5.0,10.0,6.0,8.0,2.0,16.0,a0N0I00001AFCUy
1,OC-028457,Active,306.0,"[Environmental education, Integrated]",Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 1:30 p.m. session...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCUy
2,OC-028452,Active,194.0,[Integrated],Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,27.0,3.0,27.0,0.0,54.0,a0N0I00001AFCcJ
3,OC-028453,Active,194.0,[Integrated],Environmental Conservation,NaN,Serve-A-Thon: Soap Recycling 10 a.m. session (...,Date & Time Specific,Sign Up,Soap Cycling,...,hohk@handsonhongkong.org,0.0,30.0,5.0,28.0,2.0,28.0,0.0,56.0,a0N0I00001AFCcJ
4,OC-028428,Active,85.0,[Hunger & homelessness],Hunger & Homelessness,NaN,Serve-A-Thon: Deliver Daily Necessities to Hom...,Date & Time Specific,Sign Up,"ImpactHK, Sham Shui Po",...,hohk@handsonhongkong.org,0.0,3.0,1.0,7.0,-4.0,7.0,0.0,14.0,a0N0I00001AFOJF

In [53]:
## Export to csv
program_f.to_csv('handson_data/handson_program.csv')